@charset "utf-8";

* {
	margin: 0;
	font-family: Microsoft YaHei, sans-serif;
}

html,body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}
h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
}

.fr{
	float: right;
}

.fl{
	float: left;
}

.cb{
	clear: both;
}

.input-div input {
	width: 250px;
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
}

.width-full{
	width: 99.7% !important;
}

.height-full{
	height: 99.6% !important;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}

.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}

.mr10{
	margin-right: 10px;
}

.tool-tip-href {
	margin-left:5px;
	vertical-align: middle;
}

.tool-tip-icon {
	display: inline-block;
    font-size: 1px;
    height: 16px;
    line-height: 16px;
    width: 16px;
}

.textarea-input{
	width: 360px !important;
}

.submit-btn {
	padding: 4px 8px;
}

.submit-btn span{
	font-size: 16px !important;
}

.content-info {
	height: 80% !important;
	width: 80% !important;
	max-width: 1400px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.screen-content {
	padding: 20px 20px;
	background: #eee;
}

.edit-tag {
	display: none;
}

.parent-menu{
	background-color: #6caef5;
	padding: 5px 5px;
	font-size: 13px;
	border-width: 1px;
	border: 1px solid #c3d9e0;
}

.children-menu{
	background-color: #daeef5;
	padding: 10px 15px;
	font-size: 14px;
	border: 1px dashed #c3d9e0;
}

.children-menu a{
	text-decoration: none;
	color: black;
}

.dotted-bb{
	border-bottom: 1px dotted #0066CC;
}

.detail-table input[type=text]{
	width: 250px;
	font-size: 14px !important;
}

/* =============== override easyui style =============== */
.datagrid-header-inner {
    float: left;
    width: 100%;
}

.datagrid-htable, .datagrid-btable, .datagrid-ftable{
	border-collapse: separate;
    color: #404040;
	width:100%
}

.datagrid-btable td,.datagrid-htable td, .detail-table td {
	padding: 5px 10px 5px 2px !important;
}

.panel-title{
	font-size: 14px;
	font-weight: bold;
}

/* =============== header样式 =============== */
.header-div{
	background:url(../images/top_bg.jpg) left no-repeat;
	background-size:100% 100%; 
	height:103px;
	width:100%;
}

.logo-div{
	float: left;
	margin-left: 60px;
}

.user-info-div{
	float: right;
	margin-right: 30px;
	margin-top: 45px;
}
.user-info-span{
	font-size: 14px
}

.panel {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    overflow: auto !important;
    text-align: left;
}