.login-content{
	margin:auto;
	margin-top:240px;
	height:360px;
	width:400px;
	overflow:hidden;
}

.login-content .panel-title{
	height: 24px;
	font-size: 18px;
	line-height: 20px;
}

.input-div{
	display:inline-block;
	margin-top:30px;
	margin-left:50px;
	height:35px;
	background-color:#D2DAEB;
}

.error-div{
	height: 10px;
    margin-left: 30px;
    margin-top: 20px;
    width: 351px;
}

.login-input img{
	width:35px;
	height:35px;
	display:inline-block;
}
.login-btn{
	cursor:pointer;
	border:none;
	width:109px;
	height:35px;
	margin-top: 30px;
	margin-left: 140px;
}

