#set($layout="template/source_layout.vm")
<table class="easyui-datagrid detail-table"
	data-options="fitColumns:true,singleSelect:true">

    <thead>   
        <tr> 
			<th data-options="field:'id',align:'center'">Id</th>
			<th data-options="field:'machine',align:'center'">machine</th>
			<th data-options="field:'date',align:'center'">date</th>
			<th data-options="field:'spinCount',align:'center'">spin_count</th>
			<th data-options="field:'winCount',align:'center'">win_count</th>
			<th data-options="field:'winProbability',align:'center'">win_probability</th>
			<th data-options="field:'freeSpinCount',align:'center'">free_spin_count</th>
			<th data-options="field:'freeSpinProbability',align:'center'">free_spin_probability</th>
			<th data-options="field:'totalBet',align:'center'">total_bet</th>
			<th data-options="field:'winSum',align:'center'">win_sum</th>
			<th data-options="field:'quotient',align:'center'">quotient</th>
			<th data-options="field:'rtp',align:'center'">rtp</th>
			<th data-options="field:'normalRtp',align:'center'">normal_rtp</th>
			<th data-options="field:'freeSpinRtp',align:'center'">free_spin_rtp</th>		
        </tr>   
    </thead>   
    <tbody>
		#foreach($item in $result)
        <tr>
			<td>$item.id</td>
			<td>$item.machine</td>
			<td>$item.date</td>
			<td>$item.spinCount</td>
			<td>$item.winCount</td>
			<td>$!item.winProbability</td>
			<td>$!item.freeSpinCount</td>
			<td>$!item.freeSpinProbability</td>
			<td>$item.totalBet</td>
			<td>$item.winSum</td>	
			<td>$item.quotient</td>
			<td>$item.rtp</td>
			<td>$!item.normalRtp</td>
			<td>$!item.freeSpinRtp</td>
        </tr> 
		#end
    </tbody>
</table>