<div class="header-div">
	<div class="logo-div">
		<img src="${request.contextPath}/asset/images/logo.png" />
    </div>
	<div class="user-info-div">
        <span class="user-info-span">Welcome, $user | <a href="${request.contextPath}/logout">退出</a></span>
	</div>
</div>