<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">  
    <head>  
    	#parse("template/source.vm")
    </head>  
	<body>
	    <div class="content">
	        <div class="content-info easyui-layout" fit="true">
				<!--top 导航条-->
	            <div region="north" style="height:103px;overflow:hidden;" cache="false" border="0">
					  #parse("template/header.vm")
				</div>
				<!--左边的菜单栏-->
				<div data-options="region:'west',title:'Menu',collapsible:false,split:false" style="width:200px;">
					  #parse("template/menu.vm")
				</div>   
				<!--显示的内容-->
	            <div class="screen-content" data-options="region:'center',title:'${detailTitle}',collapsible:false,split:true">
	                $screen_content
	            </div>
	        </div>
	        #parse("template/footer.vm")
	        <input type="hidden" id="contextPath" value="${request.contextPath}" />
	    </div>
	</body>
</html>