#set($layout="template/source_layout.vm")
<table class="easyui-datagrid detail-table"
	data-options="fitColumns:true,singleSelect:true">

    <thead>   
        <tr> 
			<th data-options="field:'id',align:'center'">Id</th>
			<th data-options="field:'date',align:'center'">date</th>
			<th data-options="field:'country',align:'center'">country</th>
			<th data-options="field:'version',align:'center'">version</th>
			<th data-options="field:'newUserCount',align:'center'">new_user_count</th>
			<th data-options="field:'activeUserCount',align:'center'">active_user_count</th>
			<th data-options="field:'averageLoginCount',align:'center'">average_login_count</th>
			<th data-options="field:'averageStayMinutes',align:'center'">average_stay_minutes</th>
			<th data-options="field:'payUserCount',align:'center'">pay_user_count</th>
			<th data-options="field:'newUserPayCount',align:'center'">new_user_pay_count</th>
			<th data-options="field:'newPayUserCount',align:'center'">new_pay_user_count</th>
			<th data-options="field:'orderCount',align:'center'">order_count</th>
			<th data-options="field:'paySum',align:'center'">pay_sum</th>
			<th data-options="field:'payRate',align:'center'">pay_rate</th>
			<th data-options="field:'arppdau',align:'center'">arppdau</th>
			<th data-options="field:'arpdau',align:'center'">arpdau</th>
        </tr>   
    </thead>   
    <tbody>
		#foreach($item in $result)
        <tr>
			<td>$item.id</td>
			<td>$item.date</td>
			<td>$item.country</td>
			<td>$item.version</td>
			<td>$item.newUserCount</td>
			<td>$item.activeUserCount</td>
			<td>$item.averageLoginCount</td>
			<td>$item.averageStayMinutes</td>	
			<td>$item.payUserCount</td>
			<td>$item.newUserPayCount</td>
			<td>$item.newPayUserCount</td>
			<td>$item.orderCount</td>
			<td>$item.paySum</td>
			<td>$item.payRate</td>
			<td>$item.arppdau</td>
			<td>$item.arpdau</td>
        </tr> 
		#end
    </tbody>
</table>