#set($detailTitle="daily_data")
#set($layout="template/layout.vm")
<script language=javascript src="${request.contextPath}/asset/js/dailyData/index.js"></script>
<div style="overflow:hidden">
	<div class="mb10 mr10 cb" style="height:25px">
		country :
		<select id="countryType" class='easyui-combobox fl'data-options="width:150,onSelect:function(rec){countryType(rec);}">
			<option value="ALL" #if($!countryType == 0) selected="true" #end>ALL</option>
			<option value="US" #if($!countryType == 0) selected="true" #end>US</option>
			<option value="AUSTRALIA" #if($!countryType == 0) selected="true" #end>AUSTRALIA</option>
			<option value="ENGLAND" #if($!countryType == 0) selected="true" #end>ENGLAND</option>
			<option value="HONGKONG" #if($!countryType == 0) selected="true" #end>HONGKONG</option>
			<option value="MACAO" #if($!countryType == 0) selected="true" #end>MACAO</option>
			<option value="CHINA" #if($!countryType == 0) selected="true" #end>CHINA</option>
			<option value="GERMANY" #if($!countryType == 0) selected="true" #end>GERMANY</option>
			<option value="FRANCE" #if($!countryType == 0) selected="true" #end>FRANCE</option>
			<option value="ITALY" #if($!countryType == 0) selected="true" #end>ITALY</option>		
		</select>
		
		version : 
		##<input id="searchVersion" class="easyui-textbox" type="text" value="$!version"/>
		<select id="countryFilter" class='easyui-combobox fl'data-options="width:150,onSelect:function(rec){countryFilter(rec);}">
			#foreach($enum in $!country.values())
			    <option value="$enum.code" #if($!country.code == $enum.code) selected="true" #end>$enum</option>
			#end
		</select>
		date : 
		<select id="machineFilter" class='easyui-combobox fl'data-options="width:150,onSelect:function(rec){machineFilter(rec);}">
			<option value="0" #if($!machine == 0) selected="true" #end>NEARLY_7</option>
			<option value="1" #if($!machine == 0) selected="true" #end>NEARLY_30</option>
			<option value="2" #if($!machine == 0) selected="true" #end>THIS_MONTH</option>
			<option value="3" #if($!machine == 0) selected="true" #end>LAST_MONTH</option>
			<option value="4" #if($!machine == 0) selected="true" #end>CUSTOMIZE
				##<td><span class="view-tag">$result.startDate</span></td>
				<td class="edit-tag"><input name="startDate" class="easyui-datebox" data-options="required:true,width:150" value="$result.startDate"/></td>-
				##<td><span class="view-tag">$result.endDate</span></td>
				<td class="edit-tag"><input name="endDate" class="easyui-datebox" data-options="required:true,width:150" value="$result.endDate"/></td>
			</option>		
		</select>
		<a href="javascript:void(0)" class="easyui-linkbutton submit-btn ml20" data-options="iconCls:'icon-search'" onclick="searchBaseInfo()">查看</a>
	</div>
	<div id="content" class="easyui-panel"
		data-options="iconCls:'icon-save',href:'dailyData/table?id=$!id&version=$!version&date=$!date&page=1'">															
	</div>
	<div id="pp" class="easyui-pagination"
		data-options="total:$total,
		pageSize:$pageSize,
		pageNumber:$pageNum,
		pageList:[$pageSize],
		onSelectPage: function(pageNumber, pageSize){
			$('#content').panel('refresh', 'dailyData/table?id=$!id&version=$!version&date=$!date&page='+pageNumber+'&size='+pageSize);
		}"
		style="background:#efefef;border:1px solid #ccc;">
	</div>
</div>