#set($layout="template/source_layout.vm")
<link rel="stylesheet" type="text/css" href="${request.contextPath}/asset/css/login.css" />
<div class='login-content'>
    <div class="easyui-panel" title="Login"
    	style="height:330px;padding:10px;background:#fafafa;">   
    	<form id="loginForm" action="${request.contextPath}/login" method="post" class="form-horizontal">
    		<!--用户名输入栏-->
    		<div class='input-div'>
    			<img src='asset/images/login/name.png'/>
                <input type="text" name="username"  value="$!username" onkeypress="enterToClick(event, 'login_btn')"/>
    		</div>
    		<!--密码输入栏 -->
    		<div class='input-div'>
    			<img src='asset/images/login/password.png'/>
				<input type="password" name="password" value="$!password" onkeypress="enterToClick(event, 'login_btn')"/>
    		</div>
    		
    		<!--错误提示行-->
			<div class='error-div'>
                <span style="color:red">$!errorMsg</span>
            </div>
    		
    		<!--登录按钮-->
			<img id="login_btn" src='asset/images/login/btn.png' class="login-btn" onclick="$('#loginForm').submit();" />
    	</form>
    </div>
</div>
