#set($layout="template/source_layout.vm")
<table class="easyui-datagrid detail-table"
	data-options="fitColumns:true,singleSelect:true">

    <thead>   
        <tr> 
			<th data-options="field:'id',align:'center'">Id</th>
			<th data-options="field:'date',align:'center'">date</th>
			<th data-options="field:'machine',align:'center'">machine</th>
			<th data-options="field:'userCount',align:'center'">user_count</th>
			<th data-options="field:'spinCount',align:'center'">spin_count</th>
			<th data-options="field:'averageCount',align:'center'">average_count</th>
			<th data-options="field:'winProbability',align:'center'">win_probability</th>
			<th data-options="field:'rtp',align:'center'">rtp</th>
			<th data-options="field:'freeSpinProbability',align:'center'">free_spin_probability</th>
			<th data-options="field:'betMap',align:'center'">bet_map</th>
        </tr>   
    </thead>   
    <tbody>
		#foreach($item in $result)
        <tr>
			<td>$item.id</td>
			<td>$item.date</td>
			<td>$item.machine</td>
			<td>$item.userCount</td>
			<td>$item.spinCount</td>
			<td>$item.averageCount</td>
			<td>$item.winProbability</td>	
			<td>$item.rtp</td>
			<td>$item.freeSpinProbability</td>
			<td>$item.betMap</td>
        </tr> 
		#end
    </tbody>
</table>